<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>food_manager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DeskServlet</display-name>
    <servlet-name>DeskServlet</servlet-name>
    <servlet-class>cn.et.controller.DeskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeskServlet</servlet-name>
    <url-pattern>/DeskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDeskServlet</display-name>
    <servlet-name>AddDeskServlet</servlet-name>
    <servlet-class>cn.et.controller.AddDeskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDeskServlet</servlet-name>
    <url-pattern>/addDesk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDeskServlet</display-name>
    <servlet-name>DeleteDeskServlet</servlet-name>
    <servlet-class>cn.et.controller.DeleteDeskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDeskServlet</servlet-name>
    <url-pattern>/deleteDesk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodServlet</display-name>
    <servlet-name>FoodServlet</servlet-name>
    <servlet-class>cn.et.controller.foodtype.FoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodServlet</servlet-name>
    <url-pattern>/FoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFoodServlet</display-name>
    <servlet-name>AddFoodServlet</servlet-name>
    <servlet-class>cn.et.controller.foodtype.AddFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFoodServlet</servlet-name>
    <url-pattern>/AddFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFoodServlet</display-name>
    <servlet-name>DeleteFoodServlet</servlet-name>
    <servlet-class>cn.et.controller.foodtype.DeleteFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFoodServlet</servlet-name>
    <url-pattern>/DeleteFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodListServlet</display-name>
    <servlet-name>FoodListServlet</servlet-name>
    <servlet-class>cn.et.controller.food.FoodListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodListServlet</servlet-name>
    <url-pattern>/FoodList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodDeleteServlet</display-name>
    <servlet-name>FoodDeleteServlet</servlet-name>
    <servlet-class>cn.et.controller.food.FoodDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodDeleteServlet</servlet-name>
    <url-pattern>/FoodDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFoodServlet</display-name>
    <servlet-name>UpdateFoodServlet</servlet-name>
    <servlet-class>cn.et.controller.foodtype.UpdateFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFoodServlet</servlet-name>
    <url-pattern>/UpdateFood</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodAddServlet</display-name>
    <servlet-name>FoodAddServlet</servlet-name>
    <servlet-class>cn.et.controller.food.FoodAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodAddServlet</servlet-name>
    <url-pattern>/FoodAdd</url-pattern>
  </servlet-mapping>
</web-app>